<p-blockUI [blocked]="blockedImport">
    <p-card header="แก้ไขข้อมูลการทำงานของพนักงาน" subheader="กรุณากรอกข้อมูลที่ต้องการแก้ไข" [style]="{width: '50vh'}" styleClass="p-card-shadow">
        <div class="field">
            <label for="startDate" class="block">วันที่เริ่มต้นโครงการ</label>
            <p-calendar [showIcon]="true" inputId="icon" [style]="{width: '100%'}" dateFormat="dd/mm/yy" [(ngModel)]="empOp.startDate"></p-calendar>
        </div>
        <div class="field">
            <label for="endDate" class="block">วันที่สิ้นสุดโครงการ</label>
            <p-calendar [showIcon]="true" inputId="icon" [style]="{width: '100%'}" dateFormat="dd/mm/yy" [(ngModel)]="empOp.endDate"></p-calendar>
        </div>
        <div class="field">
            <label for="duration" class="block">Duration</label>
            <input type="text" pInputText [style]="{width: '100%'}" [(ngModel)]="empOp.empDuration">
        </div>
        <div class="field">
            <label for="working" class="block">Working %</label>
            <input type="text" pInputText [style]="{width: '100%'}" [(ngModel)]="empOp.empWorking">
        </div>
        <div class="field">
            <label for="assigned" class="block">Assigned MM</label>
            <input type="text" pInputText [style]="{width: '100%'}" [(ngModel)]="empOp.empAssigned">
        </div>
        <ng-template pTemplate="footer">
            <div style="text-align: center;padding: 2vh;">
                <button pButton pRipple type="button" label="ยืนยัน" class="p-button-success" style="margin-right:2vh" (click)="updateProject()"></button>
                <button pButton pRipple type="button" label="ยกเลิก" class="p-button-danger" (click)="closeImport()"></button>
            </div>
        </ng-template>
    </p-card>
</p-blockUI>
<p-toast></p-toast>