<div class="card">
    <p-table #inputEL [value]="employeeList" responsiveLayout="scroll" selectionMode="single" [globalFilterFields]="['empNo','firstName','lastName','position','department']" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="แสดงข้อมูลพนักงาน {first} ถึง {last} จาก {totalRecords} คน">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                พนักงาน
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text"  pInputText placeholder="กรุณากรอกชื่อพนักงาน" (input)="inputSearch(inputEL, $event)"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>รหัสพนักงาน</th>
                <th>ชื่อ-สกุลพนักงาน</th>
                <th style="width: 45vh;">ตำแหน่ง</th>
                <th style="width: 20vh;text-align: center;">แผนก</th>
                <th style="width: 20vh;text-align: center;">สถานะการทำงาน</th>
                <th style="width: 15vh;text-align: center;">
                    <button pButton pRipple type="button" icon="pi pi-plus-circle" label="เพิ่ม" style="width: 12.5vh;" class="p-button-rounded p-button-success" (click)="onActivate()"></button>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employeeList>
            <tr>
                <td (click)="getEmployeeById(employeeList.empNo)" pColumn="empNo">{{employeeList.empNo}}</td>
                <td (click)="getEmployeeById(employeeList.empNo)" pColumn="firstName">{{employeeList.firstName + " " + employeeList.lastName}}</td>
                <td (click)="getEmployeeById(employeeList.empNo)" pColumn="position" style="width: 20vh">{{employeeList.position}}</td>
                <td (click)="getEmployeeById(employeeList.empNo)" pColumn="department" style="width: 20vh;text-align: center;">{{employeeList.department}}</td>
                <td (click)="getEmployeeById(employeeList.empNo)" *ngIf="employeeList.progress !== null">
                    <p-tag styleClass="mr-2" severity="warning" value="กำลังดำเนินงาน {{employeeList.progress}} %" [style]="{'width': '25vh','font-size': '15px','color':'white'}"></p-tag>
                </td>
                <td (click)="getEmployeeById(employeeList.empNo)" *ngIf="employeeList.progress === null">
                    <p-tag p-tag styleClass="mr-2" severity="success" value="ว่าง" [style]="{'width': '25vh','font-size': '15px','color':'white'}"></p-tag>
                </td>
                <td>
                    <button (click)="getEmployeeById(employeeList.empNo)" pButton pRipple type="button" style="margin-right: 1.5vh;" icon="pi pi-search" class="p-button-rounded"></button>
                    <button pButton pRipple type="button" class="p-button-danger p-button-rounded" icon="pi pi-trash" (click)="deleteItem(employeeList.empNo)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                จำนวนพนักงานทั้งหมด {{employeeList ? employeeList.length : 0 }} คน
            </div>
        </ng-template>
    </p-table>
</div>
<div *ngIf="activate">
    <app-add-employee (unBlock)="unActivate($event)"></app-add-employee>
</div>
<p-toast></p-toast>