<div class="card">
    <p-table [value]="projectList" responsiveLayout="scroll" selectionMode="single" [(selection)]="selectedProject" dataKey="projectCode" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="แสดงข้อมูล {first} ถึง {last} จาก {totalRecords} โครงการทั้งหมด">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                โครงการ
                <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded p-button-success" (click)="onActivate()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>รหัสโครงการ</th>
                <th>ชื่อโครงการ</th>
                <th>รหัสลูกค้า</th>
                <th>วันที่เริ่มต้นโครงการ</th>
                <th>วันที่สิ้นสุดโครงการ</th>
                <th>สถานะโครงการ</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-projectList>
            <tr>
                <td (click)="getProjectById(projectList.projRef)">{{projectList.projCode}}</td>
                <td (click)="getProjectById(projectList.projRef)">{{projectList.projName}}</td>
                <td (click)="getProjectById(projectList.projRef)">{{projectList.customerCode}}</td>
                <td (click)="getProjectById(projectList.projRef)">{{projectList.projStartDate | formatDate}}</td>
                <td (click)="getProjectById(projectList.projRef)">{{projectList.projEndDate | formatDate}}</td>
                <td (click)="getProjectById(projectList.projRef)" *ngIf="projectList.status == 1">
                    <p-tag styleClass="mr-2" value="รอการดำเนินการ" [style]="{'width': '20vh','font-size': '15px','color': 'white','background': '#D4D4D4'}"></p-tag>
                </td>
                <td (click)="getProjectById(projectList.projRef)" *ngIf="projectList.status == 2">
                    <p-tag styleClass="mr-2" severity="warning" value="กำลังดำเนินการ" [style]="{'width': '20vh','font-size': '15px','color': 'white'}"></p-tag>
                </td>
                <td (click)="getProjectById(projectList.projRef)" *ngIf="projectList.status == 3">
                    <p-tag styleClass="mr-2" severity="danger" value="เกินกำหนด" [style]="{'width': '20vh','font-size': '15px'}"></p-tag>
                </td>
                <td (click)="getProjectById(projectList.projRef)" *ngIf="projectList.status == 4">
                    <p-tag styleClass="mr-2" severity="success" value="เสร็จสิ้น" [style]="{'width': '20vh','font-size': '15px'}"></p-tag>
                </td>
                <td>
                    <button pButton pRipple type="button" class="p-button-rounded" icon="pi pi-search" style="margin-right: 1.5vh;" (click)="getProjectById(projectList.projRef)"></button>
                    <button pButton pRipple type="button" class="p-button-danger p-button-rounded" icon="pi pi-trash" (click)="deleteItem(projectList.projRef)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                จำนวนโครงการทั้งหมด {{projectList ? projectList.length : 0 }} โครงการ
            </div>
        </ng-template>
    </p-table>
</div>
<div *ngIf="activate">
    <app-import-excel (unBlock)="unActivate($event)"></app-import-excel>
</div>
<p-toast></p-toast>
<!-- <button pButton pRipple type="button" class="p-button-rounded" icon="pi pi-search" style="margin-right: 1.5vh;" (click)="test()"></button> -->