<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><img class="logo-image" [src]="cdgPic" /></button>
        <div class="logo-text" *ngIf="collapsed">PG Pool</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="pi pi-times"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
        <li class="sidenav-nav-item" (click)="logout()" *ngIf="displaysLogout">
            <a class="sidenav-nav-link">
                <i class="pi pi-sign-out" style="font-size: 22px;width: 5rem;min-width: 2rem;margin: 0 0.5rem;text-align: center;"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">ออกจากระบบ</span>
            </a>
        </li>
    </ul>
</div>